* {
    margin: 0%;
}

:root {
    --font-body: 'Courgette', coursive;
    --font-header: 'Merienda', cursive;
    --font-paragraph: 'Tangerine', cursive;
    --font-header2: 'Oswald', sans-serif;
    --font-body2: 'Patrick Hand', cursive;
    --main-color: #e72d8a;
}

body {
    width: 100%;
}



nav {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(89, 136, 120);
    margin: 0%;
}

.menu {
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}

.menu li {
    list-style: none;
    margin: 0px 20px;
    font-size: 20px;
    font-family: var(--font-header2);
    padding: 5px 10px;
}

.icon li {
    list-style: none;
}

.icon li img {
    width: 50px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li a:hover {
    color: lightgray;
}

.quote-button {
    background-color: #9132e900;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
}

.quote-button:hover {
    background-color: var(--main-color);
    color: white;

}

.half-width {
    width: 50%;
    padding: 10px;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width ul {
    width: 100%;
    padding: 10px;
    margin-top: 120px;
    list-style: none;
}

.half-width li {
    width: 100%;
    font-size: 20px;
    font-family: var(--font-header);
}

.form {
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: antiquewhite;
    padding: 50px;
}

.form input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 2px;
}

.fa-solid,
.fas {
    margin: 0px 20px;
    padding: 10px;
    font-size: 30px;
    color: rgb(61, 61, 247);
}

.button {
    background-color: var(--main-color);
    border: none;
    padding: 2px 15px;
    text-decoration: none;
    color: white;
    font-family: var(--font-header);
    border-radius: 5px;
}

.button:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

footer {
    background-color: cadetblue;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-body2);
    padding: 20px;
    color: white;
}