* {
    margin: 0%;
}

:root {
    --font-body: 'Courgette', coursive;
    --font-header: 'Merienda', cursive;
    --font-paragraph: 'Tangerine', cursive;
    --font-header2: 'Oswald', sans-serif;
    --font-body2: 'Patrick Hand', cursive;
    --font-paragraph2: 'Roboto Condensed', sans-serif;
    --main-color: #e72d8a;
}

body {
    width: 100%;
}

.header1 {
    font-family: var(--font-header2);
}



nav {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(89, 136, 120);
    margin: 0%;
}

.menu {
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: start;
}

.menu li {
    list-style: none;
    margin: 0px 20px;
    font-size: 20px;
    font-family: var(--font-header2);
    padding: 5px 10px;
}

.icon li {
    list-style: none;
}

.icon li img {
    width: 50px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li a:hover {
    color: lightgray;
}

.half-width {
    width: 50%;
    padding: 10px;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width td,
a {
    font-size: 25px;
    text-decoration: none;
    font-family: var(--font-paragraph2);
    color: black;
}

.half-width li {
    width: 100%;
    font-size: 20px;
    font-family: var(--font-header);
}

.form {
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: rgb(240, 240, 240);
    padding: 50px;
}

.form input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 2px;
}

textarea {
    height: 100px;
}

.fa-solid,
.fas {
    margin: 0px 20px;
    padding: 10px;
    font-size: 30px;
    color: rgb(61, 61, 247);
}

.button {
    background-color: var(--main-color);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: var(--font-header2);
}

.button:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

footer {
    background-color: cadetblue;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-body2);
    padding: 20px;
    color: white;
}

.social-icons {
    margin-top: 30px;
    margin-left: 30px;
}

.social-icons a {
    padding: 10px;
    margin-top: 30px;
    color: #979797;
}