* {
    margin: 0%;
}

:root {
    --font-body: 'Courgette', coursive;
    --font-header: 'Merienda', cursive;
    --font-paragraph: 'Voltaire', sans-serif;
    --font-header2: 'Oswald', sans-serif;
    --font-body2: 'Patrick Hand', cursive;
    --font-paragraph2: 'Roboto Condensed', sans-serif;
    --main-color: #e72d8a;
}

body {
    width: 100%;
}

main {
    margin: 0px 0px;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(89, 136, 120);
    margin: 0%;
}

.menu {
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: start;
}

.menu li {
    list-style: none;
    margin: 0px 20px;
    font-size: 20px;
    font-family: var(--font-header2);
    padding: 5px 10px;
}

.icon li {
    list-style: none;
}

.icon li img {
    width: 50px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li a:hover {
    color: lightgray;
}

.header1 {
    font-family: var(--font-header2);
}

.header2 {
    font-family: var(--font-paragraph);
    padding: 20px 0px;
}

.paragraph {
    font-size: 18px;
    font-family: var(--font-paragraph);
    color: gray;
}

.new-width1 {
    width: 30%;
    padding: 10px;
}

.new-width2 {
    width: 70%;
    padding: 50px;
    text-align: justify;
}

.new-width1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.new-width2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    background-color: var(--main-color);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: var(--font-header2);
    transition: background-color 1s;
}

.button:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}



footer {
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-body2);
    padding: 20px;
    color: gray;
}

.fa-brands,
.fa-solid {
    color: gray;
    font-size: 30px;
}

.social-icons-footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
}

.social-icons-footer a {
    padding: 10px;
    color: #979797;
}

.banner {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../images/portfolio-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
}

.head-text {
    font-family: var(--font-header);
    font-size: 40px;
    text-align: center;
    color: white;
}

.ssc-physics {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    background-color: azure;
}

.website {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}