* {
    margin: 0%;
}

:root {
    --font-body: 'Courgette', coursive;
    --font-header: 'Merienda', cursive;
    --font-paragraph: 'Voltaire', sans-serif;
    --font-header2: 'Oswald', sans-serif;
    --font-body2: 'Patrick Hand', cursive;
    --font-paragraph2: 'Roboto Condensed', sans-serif;
    --main-color: #e72d8a;
}

body {
    width: 100%;
}

main {
    margin: 0px 50px;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(89, 136, 120);
}

.menu {
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: start;
}

.menu li {
    list-style: none;
    margin: 0px 20px;
    font-size: 20px;
    font-family: var(--font-header2);
    padding: 5px 10px;
}

.icon li {
    list-style: none;
}

.icon li img {
    width: 50px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li a:hover {
    color: lightgray;
}

.header1 {
    font-family: var(--font-header2);
}

span {
    color: var(--main-color);
    font-family: var(--font-body);
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.banner h3 {
    font-family: var(--font-paragraph);
    font-size: 35px;
}

.paragraph {
    font-size: 18px;
    font-family: var(--font-paragraph);
    color: gray;
}

.half-width {
    width: 50%;
    padding: 10px;
}

.half-width img {
    width: 80%;
    padding: 10px;
}

.header-text {
    padding-left: 50px;
}

.button {
    background-color: var(--main-color);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: var(--font-header2);
    transition: background-color 1s;
}

.button:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.services {
    width: 100%;
}

.services h1 {
    padding: 10px;
    text-align: center;
}

.service-header {
    text-align: center;
    padding: 20px 0px;
}

.service-items {
    display: flex;
    width: 100%;
    text-align: justify;
}

.service-items div {
    width: 33.33%;
    height: 350px;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
    transition: height .5s;
}

.service-items div:hover {
    background-color: rgb(193, 252, 232);
    height: 370px;
    border-radius: 0px;
}

.service-items img {
    width: 30%;
}

.my-tools {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.my-tools td {
    padding: 10px 10px;
    font-family: var(--font-header);
    text-align: start;
    font-size: 22px;
}

.my-tools td:hover {
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 50px;
}

.tools img {
    width: 60%;
    padding: 10px;
}

.one-two-width {
    width: 33%;
}

.two-one-width {
    width: 67%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 30px 20px;
}

.header2 {
    font-family: var(--font-paragraph);
    padding: 20px 0px;
}

.fa-brands,
.fa-solid {
    color: var(--main-color);
    font-size: 30px;
}

footer {
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-body2);
    padding: 20px;
    color: gray;
}

.statistics {
    margin: 0px 100px;
}

.my-stat {
    width: 100%;
    display: flex;
}

.stat-header {
    text-align: center;
}

.my-stat div {
    width: 25%;
    margin: 20px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    text-align: center;
    transition: background-color 2s;
}

.my-stat div:hover {
    background-color: rgb(64, 212, 212);
    color: whitesmoke;
    border-radius: 0%;
}

.subscribe {
    text-align: center;
    padding: 20px 50px;
    margin-top: 100px;
}

.subscribe-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 220px;
    background-color: rgb(223, 227, 250);
}

.email-subscribe {
    height: 30px;
    width: 320px;
    font-size: 17px;
    padding: 5px;
}

.social-icons-footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
}

.social-icons-footer a {
    padding: 10px;
    color: #979797;
}