* {
    margin: 0%;
}

:root {
    --font-body: 'Courgette', coursive;
    --font-header: 'Merienda', cursive;
    --font-paragraph: 'Voltaire', sans-serif;
    --font-header2: 'Oswald', sans-serif;
    --font-body2: 'Patrick Hand', cursive;
    --font-paragraph2: 'Roboto Condensed', sans-serif;
    --main-color: #e72d8a;
}

body {
    width: 100%;
}

main {
    margin: 0px 0px;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(89, 136, 120);
}

.menu {
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}

.menu li {
    list-style: none;
    margin: 0px 20px;
    font-size: 20px;
    font-family: var(--font-header2);
    padding: 5px 10px;
}

.icon li {
    list-style: none;
}

.icon li img {
    width: 50px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li a:hover {
    color: lightgray;
}

.quote-button {
    background-color: #9132e900;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
}

.quote-button:hover {
    background-color: var(--main-color);
    color: white;

}



.header1 {
    font-family: var(--font-header2);
}

span {
    color: var(--main-color);
    font-family: var(--font-body);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.banner h3 {
    font-family: var(--font-paragraph);
    font-size: 35px;
}

.paragraph {
    font-size: 18px;
    font-family: var(--font-paragraph);
    color: gray;
}

.half-width {
    width: 50%;
    padding: 10px;
}

.half-width img {
    width: 100%;
    padding: 10px;
}

.header-text {
    padding-left: 50px;
}

.button {
    background-color: var(--main-color);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: var(--font-header2);
}

.button:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.services {
    width: 100%;
}

.services h1 {
    padding: 10px;
    text-align: center;
}

.service-header {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

.service-items {
    display: flex;
    text-align: justify;
    margin: 0px 100px;
}

.service-items div {
    width: 33.33%;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
}

.service-items div:hover {
    background-color: rgb(193, 252, 232);
}

.service-items img {
    width: 30%;
}

.my-tools {
    width: 100%;
    border-collapse: collapse;
}

.my-tools td {
    padding: 10px 10px;
    font-family: var(--font-header);
    text-align: start;
    font-size: 22px;
}

.my-tools td:hover {
    background-color: aquamarine;
    border-radius: 5px;
}

.tools {
    display: flex;
    margin: 120px 100px;
    justify-content: center;
    align-items: center;

}

.tools img {
    width: 70%;
    padding: 10px;
}

.one-two-width {
    width: 33%;
}

.two-one-width {
    width: 64%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 30px 20px;
}

.header2 {
    font-family: var(--font-paragraph);
    padding: 20px 0px;
}

.fa-brands,
.fa-solid {
    color: var(--main-color);
    font-size: 30px;
}

footer {
    background-color: cadetblue;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-body2);
    padding: 20px;
    color: white;
}

.statistics {
    margin: 0px 100px;
}

.my-stat {
    display: flex;
    margin: 0px 100px;
}

.stat-header {
    text-align: center;
}

.my-stat div {
    width: 25%;
    margin: 20px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    text-align: center;
}

.subscribe {
    background-color: rgb(226, 251, 251);
    text-align: center;

    padding: 20px 50px;

}

.subscribe-input {
    justify-items: center;
    padding: 20px;
    margin: 20px 220px;
    background-color: rgb(223, 227, 250);
}

.email-subscribe {
    height: 25px;
    width: 320px;
    font-size: 17px;
    padding: 5px;
}


@media screen and (max-width:767px) {



    .header1 {
        font-family: var(--font-header2);
        font-size: 25px;
    }

    span {
        color: var(--main-color);
        font-family: var(--font-body);
    }

    .banner {
        display: grid;
        justify-content: center;
        align-items: center;

    }

    .banner h3 {
        font-family: var(--font-paragraph);
        font-size: 20px;
    }

    .header-text {
        padding-left: 10px;
    }

    .paragraph {
        font-size: 15px;
        font-family: var(--font-paragraph);
        color: gray;
    }

    .half-width {
        width: 100%;
        margin-top: 50px;
    }

    .half-width img {
        width: 100%;
    }

    .services {
        width: 100%;
    }

    .services h1 {
        padding: 10px;
        text-align: center;
    }

    .service-header {
        width: 100%;
        padding: 20px 0px;
    }

    .service-items {
        display: block;
        margin: 0px 10px;
    }

    .service-items div {
        width: 100%;
        border: 1px solid lightgray;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        background-color: rgb(253, 253, 253);
    }

    .service-items div:hover {
        background-color: rgb(193, 252, 232);
    }

    .service-items img {
        width: 30%;
    }

    .my-tools {
        width: 100%;
        border-collapse: collapse;
    }

    .my-tools td {
        padding: 10px 10px;
        font-family: var(--font-header);
        text-align: start;
        font-size: 16px;
    }

    .my-tools td:hover {
        background-color: aquamarine;
        border-radius: 5px;
    }

    .tools {
        display: block;
        margin: 20px 10px;
        justify-content: center;
        align-items: center;

    }

    .tools img {
        width: 60%;
        padding: 10px;
    }

    .one-two-width {
        width: 100%;
    }

    .two-one-width {
        width: 100%;
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
        padding: 10px 5px;
    }

    .header2 {
        font-family: var(--font-paragraph);
        padding: 20px 0px;
    }

    .fa-brands,
    .fa-solid {
        color: var(--main-color);
        font-size: 18px;
    }

    .statistics {
        margin: 0px 10px;
    }

    .my-stat {
        display: block;
        margin: 0px 10px;
    }

    .stat-header {
        text-align: center;
    }

    .my-stat div {
        width: 100%;
        margin: 10px;
        padding: 10px;
        background-color: rgb(240, 240, 240);
        border-radius: 10px;
        text-align: center;
    }

    .subscribe {
        background-color: rgb(226, 251, 251);
        text-align: center;

        padding: 20px 50px;

    }

    .subscribe-input {
        justify-items: center;
        padding: 20px;
        margin: 20px 20px;
        background-color: rgb(223, 227, 250);
    }

    .email-subscribe {
        height: 25px;
        width: 150px;
        font-size: 17px;
        padding: 5px;
    }

}