* {
    margin: 0%;
}

:root {
    --font-body: 'Courgette', coursive;
    --font-header: 'Merienda', cursive;
    --font-paragraph: 'Tangerine', cursive;
    --font-header2: 'Oswald', sans-serif;

    --main-color: #e72d8a;
}

body {
    width: 100%;
}

main {
    margin: 0px 20px;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(89, 136, 120);
}

.menu {
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}

.menu li {
    list-style: none;
    margin: 0px 20px;
    font-size: 20px;
    font-family: var(--font-header2);
    padding: 5px 10px;
}

.icon li {
    list-style: none;
}

.icon li img {
    width: 50px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li a:hover {
    color: lightgray;
}

.quote-button {
    background-color: #9132e900;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
}

.quote-button:hover {
    background-color: var(--main-color);
    color: white;

}

.banner h1 {
    font-family: var(--font-header2);
}

span {
    color: var(--main-color);
    font-family: var(--font-body);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.banner h3 {
    font-family: var(--font-paragraph);
    font-size: 35px;
}

.banner p {
    font-size: 20px;
    font-family: var(--font-body);
}

.half-width {
    width: 50%;
    padding: 10px;
}

.half-width img {
    width: 100%;
    padding: 10px;
}

.button {
    background-color: var(--main-color);
    border: none;
    padding: 2px 10px;
    text-decoration: none;
    color: white;
    font-family: var(--font-header);
    border-radius: 5px;
}

.button:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.services {
    width: 100%;
}

.services h1 {
    padding: 10px;
    font-size: 25px;
    font-family: var(--font-header);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 5px;
}

.service-items {
    display: flex;
    text-align: justify;

}

.service-items div {
    width: 25%;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(235, 255, 245);
}

.service-items img {
    width: 30%;
}

.tools {
    display: flex;
    margin-top: 150px;
}

.my-image {
    width: 20px;
    padding: 10px;
}

.languages {
    list-style: none;
    font-family: var(--font-header);
    color: var(--main-color);
}

.languages p {
    font-family: var(--font-body);
    text-align: justify;
    color: black;
}

.fa-brands,
.fa-solid {
    color: var(--main-color);
}